/* == Variables */

@import url('~Variables/variables.less');

/* == Screen styles */

.screen.profile {
  header {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;

    .resume {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      flex-direction: row;

      .profile {
        &-lastName {
          &::before {
            content: ' ';
          }
        }

        &-job {
          &::before {
            content: ' @{bull} ';
          }
        }
      }

      .avatar-uploader {
        margin-right: 1em;
      }

      .informations {
        overflow: hidden;

        .ant-alert-message {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        h2.contact {
          display: flex;
          align-items: center;
          margin: 0;
          font-size: 1.25em;
          margin-bottom: 1rem;

          .contact {
            text-transform: uppercase;
            margin-right: 0.5ch;
          }
        }
      }
    }
  }

  .ant-form-item {
    button {
      align-self: flex-start;
    }
  }
}
