/* Variables */

@import url('~Variables/variables.less');

/* Component styles */

.box-details {
  .ant-drawer-body {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  &-header {
    display: flex;
    align-items: center;
    margin: 1.5em 0;

    .ant-avatar {
      font-size: 3em;
      height: 1.5em;
      width: 1.5em;
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0;
      margin-right: 1rem;
    }
  }

  &-description {
    display: flex;
    flex-direction: column;
    flex: 1;

    &-item {
      &-name {
        //color: @text-color-bold;

        &::after {
          content: ' : ';
        }
      }
    }

    &-group {
      h3 {
        margin-bottom: 2rem;
        font-weight: initial;
      }
    }
  }

  &-footer {
    display: flex;
    margin: 1.5em 0;
    margin-top: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}
