/* Variables */

@import url('~Variables/variables.less');

/* Screen styles */

.screen.loading {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
