/* Variables */

@import url('~Variables/variables.less');

/* Mediaqueries */

@import url('~Theme/print.less');
@import url('~Theme/screen.less');

/* Libraries */

@import url('~normalize.css');

/* Styles additionnels */

@import (css) url('~Fonts/fonts.css');

/* Flexbox classes (from Knacss) */

[class*='flex-container'] {
  display: flex;
}

.flex-container-h {
  flex-direction: row;
}

.flex-container-v {
  flex-direction: column;
}

.flex-item-fluid {
  flex: 1;
}

.flex-align-center-h {
  justify-content: center;
}

.flex-align-center-v {
  align-items: center;
}

/* Classes styles */

span,
.anticon {
  &.valid {
    color: @green;
  }

  &.important {
    color: @orange;
  }

  &.critical {
    color: @red;
  }
}

/* Layout styles */

html,
body {
  overflow: hidden;
  font-size: @font-size;
}

body {
  font-family: @font-family;
  font-size: @font-size;
  color: @text-color;
  background-color: @white;
}

.hidden {
  display: none !important;
}

main.screen,
main.tab {
  padding: @padding-containers;
  width: 100%;
  margin-bottom: auto;

  &::after {
    content: '';
    display: block;
    height: @padding-containers;
  }
}

span.anchor {
  color: @primary-color;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;

  &:active,
  &:hover {
    outline: 0;
    text-decoration: none;
  }

  &:active {
    color: color(~`colorPalette('@{primary-color}', 7) `);
  }

  &:hover {
    color: color(~`colorPalette('@{primary-color}', 5) `);
  }

  &:focus {
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
  }
}

.avatar-uploader {
  .ant-upload {
    height: 2.5em;
    width: 2.5em;
    border-radius: 100%;

    .avatar {
      font-size: 2.5em;
      height: 2.5em;
      width: 2.5em;
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0;
    }
  }
}

.buttons {
  text-align: right;
  margin: -0.5ch -1ch;
  margin-left: ~'calc(1em - 1ch)';

  & > * {
    margin: 0.5ch 1ch;
  }

  p {
    margin: 0;
    margin-top: 0.25rem;
  }
}

/* Ant Design styles */

.ant {
  &-dropdown-menu {
    &-item {
      padding: 0;
      display: flex;

      a,
      span.anchor {
        color: @text-color;
        padding: 5px 12px;
        margin: 0;

        i.anticon {
          margin-right: 1ch;
        }
      }
    }
  }

  &-select {
    &-icon {
      left: 12px;
      z-index: 1;
      display: flex;
      line-height: 1.5;
      position: absolute;
      align-items: center;
      justify-content: center;

      svg {
        overflow: visible;
      }

      & + .ant-select {
        .ant-select-selection {
          &__rendered {
            margin-left: 30px;
          }

          &__placeholder {
            margin-left: 0;
          }
        }
      }
    }
  }

  &-table {
    &-filter-dropdown {
      &-btns {
        & > :not(:last-child) {
          margin-right: 1ch;
        }
      }

      .ant-dropdown-menu {
        &-item {
          padding: 5px 12px;
        }
      }
    }

    &-search {
      padding: 1em;
      display: flex;

      input:not(:only-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &-body {
      overflow: auto;

      table {
        background-color: @white;

        thead > tr > th {
          background-clip: padding-box !important;
        }
      }
    }
  }

  &-form {
    &-explain {
      margin-top: 0.25em;
    }

    &-item {
      margin: 0;
      position: relative;

      // &:not(.hidden):not(:last-of-type) {
      //   margin-bottom: 1.5em;
      // }

      &-children {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &:not(:first-of-type) {
        margin-top: 1.25em;
      }

      &-control {
        line-height: 1em !important;

        .ant-table {
          &-content {
            border: 1px solid @border-color;
          }

          &-tbody > tr:last-of-type > td {
            border: none;
          }

          &-title {
            display: flex;
            padding: 0;
            border: none;
            justify-content: flex-end;
            margin-top: -32px;
            margin-bottom: 1em;
          }
        }

        &:not(.has-error) {
          .ant-form-explain-holder {
            display: none;
          }
        }

        .password-rules {
          flex: 1;
          font-size: 0.75rem;
          color: @text-color;
          margin-bottom: 0.5em;
          align-self: flex-start;
        }
      }

      &-label {
        line-height: initial !important;
        margin-bottom: 0.5em !important;

        label::after {
          content: '';
        }
      }
    }
  }

  &-avatar {
    & > img {
      object-fit: cover;
    }
  }

  &-card {
    &-actions {
      display: flex;

      & > li {
        padding: 0 2em;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        float: none;
        flex: 1;
        width: auto !important;
      }

      button {
        position: relative;
        z-index: 1;
      }
    }
  }

  &-calendar {
    &-picker {
      width: 100%;
    }

    &-input {
      text-align: center;
    }

    &-date-input-wrap {
      margin: 0;
    }

    &-range {
      .ant-calendar-date-panel {
        display: flex;
      }

      &-middle {
        margin: 0;
        left: auto;
        width: 100%;
      }

      &-part {
        flex: 1;
        z-index: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &-progress {
    &-line,
    &-line > * {
      display: flex;
      width: 100%;
    }

    &-outer {
      display: flex;
      align-items: center;
      padding-right: 0;
      margin-right: 0;
      flex: 1;
    }

    &-text {
      display: flex;
      width: auto;
    }
  }

  &-tabs {
    display: inline;

    &-card {
      .ant-tabs-bar {
        margin-bottom: 0;
      }

      .ant-card.tab {
        border-top: none;
      }
    }

    &-search.ant-input-search {
      position: relative;
      display: inline-flex;
      max-width: 500px;
      float: right;
      height: 40px;
      z-index: 1;

      input.ant-input {
        border-bottom-left-radius: 0;
        height: 40px;
        border-color: @border-color;
      }

      .ant-input-search-button {
        border-bottom-right-radius: 0;
        height: 40px;
      }
    }

    &.screen {
      display: flex;
      flex-direction: column;

      .ant-tabs-bar {
        background-color: @white;
        margin: 0;
      }

      .ant-tabs-content {
        margin-left: 0 !important;
        overflow-y: auto;

        .ant-tabs-tabpane-inactive {
          display: none;
        }
      }
    }
  }

  &-modal {
    &-confirm {
      &-body &-content  {
        margin: 0;
        margin-top: 1.25em;
      }
    }
  }

  &-exception {
    &-exception {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      height: calc(100% - @padding-containers);
      min-height: 500px;
    }

    &-exception &-imgBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 62.5%;
      zoom: 1;

      &::after {
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
      }

      &::before,
      &::after {
        content: ' ';
        display: table;
      }
    }

    &-imgEle {
      height: 360px;
      width: 100%;
      max-width: 430px;
      float: right;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    &-content {
      flex: auto;

      h1 {
        color: @riverBed;
        font-size: 72px;
        font-weight: 600;
        line-height: 72px;
        margin-bottom: 24px;
      }
    }

    &-content &-desc {
      color: @text-color-secondary;
      font-size: 1.25rem;
      line-height: 28px;
      margin-bottom: 1rem;
    }

    &-content &-actions button:not(:last-child) {
      margin-right: 8px;
    }
  }

  &-menu {
    &-submenu {
      &-popup {
        background-color: @transparent !important;
      }

      &-selected {
        color: @white !important;
      }
    }

    .ant-avatar {
      margin-right: 0.5em;
      display: inline-flex;
      height: 1.25em;
      width: 1.25em;
      align-items: center;
      justify-content: center;
      text-align: center;

      &-icon {
        background-color: color(~`colorPalette('@{primary-color}', 6) `);
      }

      i {
        margin: 0;
      }
    }
  }
}

/**
 * LAYOUT FULL SCREEN
 *
 * sticky header
 * scrollable content
 * sticky footer
 */
#root {
  .ant-layout {
    height: 100vh;

    &-header {
      z-index: 1;
      display: flex;
      align-items: center;
      height: @header-height;
      background-color: @white;
      padding: 0 @padding-containers;
      justify-content: space-between;
      box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

      h1 {
        color: @text-color;
        font-size: 1.5em;

        .breadcrumbs {
          &-crumb {
            &::after {
              content: ' / ';
            }
          }
        }
      }

      nav {
        ul {
          margin: 0;
          display: flex;
          align-items: center;
          list-style: none;

          li {
            height: @header-height;
            display: flex;

            & > {
              cursor: pointer;
            }

            &:not(:last-of-type) {
              margin-right: 1em;
            }
          }
        }
      }

      .ant-dropdown-link.ant-dropdown-trigger {
        .avatar {
          display: inline-flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          object-fit: cover;
          margin-right: 1ch;
          height: 1.5em;
          width: 1.5em;
          font-size: 1rem;
        }
      }
    }

    &-content {
      display: flex;
      overflow-y: auto;
      align-items: center;
      flex-direction: column;
      height: ~'calc(100vh - @{header-height})';
    }

    &-sider {
      z-index: 1;
      color: @white;
      background-color: @primary-color;
      box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.1);

      &-trigger {
        color: inherit;
        background-color: transparent;
        border-color: transparent;
      }

      &-children {
        display: flex;
        flex-direction: column;

        & > ul.ant-menu {
          overflow-y: auto;
          overflow-x: hidden;
        }

        .ant-layout-sider-logo {
          background-color: color(~`colorPalette('@{primary-color}', 7) `);
          height: @header-height;
          border-color: transparent;

          &-image {
            padding: 1em;
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }

        .ant-menu {
          flex: 1;
          color: inherit;
          background-color: transparent;
          border-color: transparent;

          &-submenu {
            &-active,
            &-title:hover {
              color: @white;
              background-color: @primary-color;

              i {
                &::after,
                &::before {
                  background: @white;
                }
              }
            }

            &-arrow {
              &::before,
              &::after {
                background: @white;
              }
            }
          }

          &-item {
            color: inherit;

            &-selected {
              background-color:
                rgba(
                  color(~`colorPalette('@{primary-color}', 8) `),
                  0.4
                );
            }

            &:active {
              background-color:
                rgba(
                  color(~`colorPalette('@{primary-color}', 8) `),
                  0.3
                );
            }

            &::after {
              border-color: transparent;
            }

            a {
              color: inherit;
            }
          }
        }
      }
    }

    &-footer {
      padding: 0 @padding-containers;
      margin-top: calc(2 * @padding-containers);
      color: @text-color-secondary;

      &::after {
        content: '';
        display: block;
        height: @padding-containers;
      }
    }
  }
}
