/* Variables */

@import url('~Variables/variables.less');

/* Screen styles */

.screen.login {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-card {
    width: 500px;

    &-head {
      text-align: center;

      &-title {
        overflow: visible;

        .logo {
          height: 8em;
          margin-top: -5em;
        }
      }
    }
  }
}
