/* Variables */

@import url('~Variables/variables.less');

/* Component styles */

.flag-select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: @text-color;
  text-align: left;
  margin: 0;
  padding: 0;

  img {
    width: 1.3em;
    height: 1.3em;
  }

  .country-flag {
    cursor: pointer;

    .country-label {
      font-size: 1rem;
      line-height: 2rem;
      position: relative;
      vertical-align: middle;
    }
  }

  .selected--flag--option {
    cursor: pointer;
    padding: 0 8px;

    &::before {
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
    }

    &:focus {
      outline: none;
    }

    .country-label {
      margin-left: 9px;
    }

    .country-flag {
      width: 1rem;
      height: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .flag-options {
    position: absolute;
    z-index: 999999;
    box-shadow: 0 2px 8px fade(@black, 15%);
    border-radius: 4px;
    background: @white;
    margin-top: 0.25rem;
    overflow: auto;
    top: @header-height;
    right: 0;
  }

  .flag-options.to--left {
    right: 10px;
  }

  .flag-option {
    display: block;
    clear: both;
    margin: 0;
    padding: 5px 12px;
    color: @text-color;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: color(~`colorPalette('@{primary-color}', 1) `);
    }

    &:focus {
      outline: none;
    }

    .country-label {
      padding: 0 9px;
    }
  }

  .filterBox {
    width: 100%;

    input {
      width: 90%;
      margin: 0 4%;

      &:focus {
        outline: none;
      }
    }
  }

  .arrow-down {
    display: none;
    color: @text-color;
    padding: 2px;
  }

  .hidden {
    display: none;
  }

  .no--focus {
    pointer-events: none;
  }
}
