/* Variables */

@import url('~Variables/variables.less');

/* Component styles */

.component.table-layout {
  flex: 1;

  header {
    display: flex;
    align-items: center;

    & > * {
      flex: 1;
    }

    .ant-input-search {
      flex: initial;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
    }

    .ant-btn-group {
      margin-left: 1em;
    }
  }

  footer {
    display: flex;
    margin-top: 1em;

    & > * {
      flex: 1;
    }

    .ant-btn-group {
      margin-left: 1em;
    }
  }

  main {
    .table-layout-table:not(:last-of-type) {
      margin-bottom: 1em;
    }

    &,
    .ant-table-wrapper,
    .ant-spin-nested-loading {
      display: flex;
      flex-direction: column;
    }

    ul.ant-table-pagination.ant-pagination {
      position: relative;
      margin: 1em 0;
      z-index: 1;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .ant-table {
      display: inline;

      &-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1em;
        margin-top: 0;
        padding: 0;
        border: none;

        &:empty {
          margin-bottom: 0;
        }

        p {
          display: flex;
          margin: 0;
          margin-top: 1em;
          height: 32px;
          align-items: center;
        }

        h2 {
          font-size: 1.25rem;
          margin: 0;
          padding: 0;
        }
      }

      &-empty {
        .ant-table-body {
          border-bottom: none !important;
        }
      }

      &-placeholder {
        border-bottom: none;
      }

      &-content {
        border: 1px solid @border-color;

        &-expanded-row {
          .ant-table {
            border-radius: 0;
            display: block;
            border-top: none;
            border-right: none;

            &-body {
              margin: 0;
            }

            &-content {
              border: none;
            }
          }
        }

        .ant-table-body {
          &:not(:only-child) {
            border-bottom: 1px solid @border-color;
          }

          td {
            span.anchor.delete {
              color: @red;

              span {
                &::before {
                  content: ' ';
                }
              }
            }
          }
        }
      }

      &-tbody > tr:last-of-type > td {
        border: none;
      }
    }
  }
}
