/* Fonts */

/* Inherit Ant Design config (REACT_APP_MAIN_COLOR .env) */
@primary-color: @primary-color;

/* Colors */
@transparent: rgba(0, 0, 0, 0);
@white: #fff;
@black: #000;
@yellow: #faad14;
@orange: #ff771d;
@red: #f5222d;
@blue: #108ee9;
@grey: #b3b3b3;
@green: #5db12f;
@purple: #722ed1;

@charade: #2f3241;
@ebonyClay: #252836;
@charlotte: #9feaf9;
@alabaster: #fafafa;
@wildSand: #f5f5f5;
@riverBed: #434e59;

/* Custom */
@text-color: fade(@black, 65);
@text-color-secondary: fade(@black, 45);
@background-color: #f0f2f5;
@border-color: #e8e8e8;
@error-color: #f5222d;
