/* Variables */

@import url('~Variables/variables.less');

/* Modal container styles */

.modal {
  p {
    margin: 0;
  }

  .ant-modal-body {
    .ant-alert {
      margin-bottom: 1em;
    }

    .ant-form {
      &-item:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
