@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?qxqla5');
  src:
    url('fonts/icomoon.eot?qxqla5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qxqla5') format('truetype'),
    url('fonts/icomoon.woff?qxqla5') format('woff'),
    url('fonts/icomoon.svg?qxqla5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-img-check .path1::before {
  content: '\e952';
  color: rgb(56, 108, 255);
}

.icon-img-check .path2::before {
  content: '\e953';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-picto-armchair::before {
  content: '\e954';
  color: #dcbe61;
}

.icon-picto-blinds::before {
  content: '\e965';
}

.icon-picto-camera::before {
  content: '\e966';
}

.icon-picto-night-mode::before {
  content: '\e967';
  color: #386cff;
}

.icon-picto-out::before {
  content: '\e968';
  color: #4ecd83;
}

.icon-picto-socket::before {
  content: '\e969';
}

.icon-picto-thermostat::before {
  content: '\e96a';
}

.icon-picto-user-white::before {
  content: '\e96b';
  color: #fff;
}

.icon-favicon_huandco .path1::before {
  content: '\e96c';
  color: rgb(255, 255, 255);
}

.icon-favicon_huandco .path2::before {
  content: '\e96d';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-favicon_huandco .path3::before {
  content: '\e96e';
  margin-left: -1em;
  color: rgb(255, 100, 59);
}

.icon-favicon_huandco .path4::before {
  content: '\e96f';
  margin-left: -1em;
  color: rgb(56, 108, 255);
}

.icon-picto-network-0::before {
  content: '\e900';
  color: #979797;
}

.icon-picto-network-1::before {
  content: '\e94f';
  color: #979797;
}

.icon-picto-network-2::before {
  content: '\e950';
  color: #979797;
}

.icon-picto-network-3::before {
  content: '\e951';
  color: #979797;
}

.icon-picto-dashboard::before {
  content: '\e957';
}

.icon-picto-devices::before {
  content: '\e958';
}

.icon-picto-group-setup::before {
  content: '\e959';
}

.icon-picto-keyboard::before {
  content: '\e95a';
}

.icon-picto-timeline::before {
  content: '\e95b';
}

.icon-picto-user::before {
  content: '\e95c';
}

.icon-picto-xmpp::before {
  content: '\e95d';
}

.icon-picto-dissociate::before {
  content: '\e94e';
}

.icon-picto-download::before {
  content: '\e94c';
}

.icon-picto-eye::before {
  content: '\e94d';
}

.icon-picto-edit-grey::before {
  content: '\e94b';
}

.icon-picto-calendar::before {
  content: '\e947';
  color: #fff;
}

.icon-picto-import::before {
  content: '\e948';
  color: #fff;
}

.icon-picto-print::before {
  content: '\e949';
  color: #fff;
}

.icon-picto-trash::before {
  content: '\e94a';
}

.icon-picto-home::before {
  content: '\e922';
}

.icon-logo-huandco-login .path1::before {
  content: '\e901';
  color: rgb(255, 100, 59);
}

.icon-logo-huandco-login .path2::before {
  content: '\e902';
  margin-left: -2.6552734375em;
  color: rgb(56, 108, 255);
}

.icon-logo-huandco-login .path3::before {
  content: '\e903';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path4::before {
  content: '\e904';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path5::before {
  content: '\e905';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path6::before {
  content: '\e906';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path7::before {
  content: '\e907';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path8::before {
  content: '\e908';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path9::before {
  content: '\e909';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path10::before {
  content: '\e90a';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path11::before {
  content: '\e90b';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path12::before {
  content: '\e90c';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path13::before {
  content: '\e90d';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path14::before {
  content: '\e90e';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path15::before {
  content: '\e90f';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path16::before {
  content: '\e910';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path17::before {
  content: '\e911';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path18::before {
  content: '\e912';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path19::before {
  content: '\e913';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path20::before {
  content: '\e914';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path21::before {
  content: '\e915';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path22::before {
  content: '\e916';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-login .path23::before {
  content: '\e95e';
  margin-left: -2.6552734375em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path1::before {
  content: '\e917';
  color: rgb(255, 100, 59);
}

.icon-logo-huandco-menu .path2::before {
  content: '\e918';
  margin-left: -2.640625em;
  color: rgb(56, 108, 255);
}

.icon-logo-huandco-menu .path3::before {
  content: '\e919';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path4::before {
  content: '\e91a';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path5::before {
  content: '\e91b';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path6::before {
  content: '\e91c';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path7::before {
  content: '\e91d';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path8::before {
  content: '\e91e';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path9::before {
  content: '\e91f';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path10::before {
  content: '\e920';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path11::before {
  content: '\e921';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path12::before {
  content: '\e923';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path13::before {
  content: '\e924';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path14::before {
  content: '\e925';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path15::before {
  content: '\e926';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path16::before {
  content: '\e927';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path17::before {
  content: '\e928';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path18::before {
  content: '\e929';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path19::before {
  content: '\e92a';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path20::before {
  content: '\e92b';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path21::before {
  content: '\e92c';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path22::before {
  content: '\e92d';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-logo-huandco-menu .path23::before {
  content: '\e92e';
  margin-left: -2.640625em;
  color: rgb(255, 255, 255);
}

.icon-picto-add::before {
  content: '\e92f';
  color: #30a4f5;
}

.icon-picto-arrow-left::before {
  content: '\e930';
  color: #30a4f5;
}

.icon-picto-arrow-right::before {
  content: '\e931';
  color: #30a4f5;
}

.icon-picto-arrow-up::before {
  content: '\e932';
}

.icon-picto-backend::before {
  content: '\e933';
}

.icon-picto-clock::before {
  content: '\e934';
  color: #fff;
}

.icon-picto-close::before {
  content: '\e935';
}

.icon-picto-cursor::before {
  content: '\e936';
}

.icon-picto-date::before {
  content: '\e937';
  color: #fff;
}

.icon-picto-design::before {
  content: '\e938';
}

.icon-picto-edit::before {
  content: '\e939';
  color: #fff;
}

.icon-picto-gateway::before {
  content: '\e93a';
}

.icon-picto-id::before {
  content: '\e93b';
  color: #fff;
}

.icon-picto-installers::before {
  content: '\e93c';
}

.icon-picto-notifications::before {
  content: '\e93d';
}

.icon-picto-password::before {
  content: '\e93e';
  color: #fff;
}

.icon-picto-radio-active::before {
  content: '\e93f';
  color: #30a4f5;
}

.icon-picto-radio-inactive::before {
  content: '\e940';
}

.icon-picto-role::before {
  content: '\e941';
}

.icon-picto-search-grey-small::before {
  content: '\e942';
}

.icon-picto-search::before {
  content: '\e943';
}

.icon-picto-settings::before {
  content: '\e944';
}

.icon-picto-transmitters::before {
  content: '\e945';
}

.icon-picto-update-menu::before {
  content: '\e946';
}
